
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>

{% block content %}
{% load static %}
<section class="log-in-wrapper container mx-auto">
    <p>Forgot Password?</p>
    <form class="mb-3" method="POST">
        {% csrf_token %}
        <div class="form-fields">
            <div class="input-wrapper">
                <svg class="field-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256v32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32v80 32c0 17.7 14.3 32 32 32s32-14.3 32-32V256c0-106-86-192-192-192zm64 192a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/>
                </svg>
                <input type="text" name="email" placeholder="Email" autocapitalize="none" autocomplete="email" maxlength="254" required id="id_email">
            </div>
        </div>
        <div class="login-button">
            <button type="submit">Reset Password</button>
        </div>

        {% if form.non_field_errors %}
            <div class="form-error">
                {{form.non_field_errors}}
            </div>
        {% endif %}

    </form>
     <!-- Forgot password -->
     <p>Remember password? <a class="!text-secondary hover:!text-green-500" href="{% url 'login-register' %}">Login</a>.</p>
    </div> 
{% endblock %}
</body>
</html>