asgiref==3.8.1
Django
djangorestframework
drf-spectacular
pillow
psycopg2-binary
django-dbbackup

numpy
pandas
matplotlib 
datetime
pytz

fpdf
PyPDF2

django-tailwind 
django-tailwind[reload] 

gunicorn
whitenoise



