asgiref==3.8.1
Django
djangorestframework
drf-spectacular
pillow
psycopg2-binary
django-dbbackup

python-dotenv

numpy
pandas
matplotlib 
datetime
pytz

fpdf
PyPDF2

django
django-tailwind[reload]

gunicorn
whitenoise

celery 
redis

stripe



