asgiref
Django
djangorestframework
drf-spectacular
pillow
psycopg2-binary
django-dbbackup
python-dotenv
django-environ
numpy
pandas
matplotlib
pytz
fpdf
PyPDF2
django-tailwind[reload]
gunicorn
whitenoise
celery
django-celery-results
django-celery-beat
redis
flower
stripe



