{% extends 'base.html' %}  
{% load static %}

!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Request</title>
    </head>
<body>
{% block content %}

<svg class="bg-bulb absolute top-30 right-0 bg-opacity-0 z-0 opacity-25 overflow-x-hidden blur-2xl" width="652" height="611" viewBox="0 0 352 311" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M153.766 8.93022C253.205 -37.7537 218.766 113.43 310.142 120.93C401.519 128.43 323.268 300.695 254.017 290.312C184.766 279.93 174.766 341.43 72.3913 290.312C-29.9834 239.195 1.76592 205.93 16.2659 120.93C30.7659 35.9303 54.3281 55.6142 153.766 8.93022Z" fill="url(#paint0_linear_39_276)" fill-opacity="0.95"/>
    <defs>
    <linearGradient id="paint0_linear_39_276" x1="175.808" y1="0" x2="175.808" y2="310.893" gradientUnits="userSpaceOnUse">
    <stop offset="0.19" stop-color="#5CC1EC" stop-opacity="0.92"/>
    <stop offset="1" stop-color="#044EDF"/>
    </linearGradient>
    </defs>
    </svg>
        <div id="index-main-wrapper-logged-out">
          <section class="dark:bg-blue-950">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Innovative Moisture Diagnostics</h1>
                <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-300">to Support Building Professionals</p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                    <a href="{% url 'report' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                        Get started
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    <a href="#" class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-70">
                        Learn more
                    </a>  
                </div>
            </div>
        </section>

        <section class="featured-products-wrapper z-100">
            <article class="featured-products">
                <div class="featured-product">
                    <img class="" src="{% static 'images/icons8-hygrometer-50.png' %}" alt="Featured Product 1"/>
                    <h5>Obtain Equipment</h5>
                    <p>Moisture diagnostic equipment for rent</p>
                    <p>Can be re-used on multiple properties</p>
                </div>
                <div class="featured-product">
                    <img src="{% static 'images/icons8-graph-report-50.png' %}" alt="Featured Product 2"/>
                    <h5>Connect the loggers to your PC or phone</h5>
                    <p>Automatically generated reports, using your data</p>
                    <p class="group flex items-center gap-2"><span class="text-xl align-middle group-hover:text-light-accent3">∞ </span> Unlimited number of reports</p>
                    
                </div>
                <div class="featured-product">
                    <img src="{% static 'images/icons8-smart-home-checked.png' %}" alt="Featured Product 3" class="mix-blend-multiply filter brightness-100"/>
                    <h5>Monitor Multiple Properties</h5>
                    <p>Rent loggers and generate reports for multiple properties, simultaneously</p>
                    <p>Revist the full data sets and reports whenever needed</p>

                </div>
            </article>
        </section>
        
        

              <div class="forgot-password">
                  <a  href="">Forgot the Password?</a>
              </div> 

              <div class="register-form mt-12">
                  <p class="">Don't have an account?</p>
                  <button class="actButton my-3 w-full small_tablet:max-w-xs" ><a href="{% url 'register' %}">Register</a></button>
              </div> 
        </section>
      </div>  
      
{% endblock %}  

        
</body>
</html>