
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>

{% block content %}
{% load static %}
<svg class="bg-bulb absolute top-30 right-0 bg-opacity-0 opacity-25 overflow-x-hidden blur-2xl z-0 max-h-[100vh] md:w-screen" width="652" height="611" viewBox="0 0 352 311" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M153.766 8.93022C253.205 -37.7537 218.766 113.43 310.142 120.93C401.519 128.43 323.268 300.695 254.017 290.312C184.766 279.93 174.766 341.43 72.3913 290.312C-29.9834 239.195 1.76592 205.93 16.2659 120.93C30.7659 35.9303 54.3281 55.6142 153.766 8.93022Z" fill="url(#paint0_linear_39_276)" fill-opacity="0.95"/>
    <defs>
    <linearGradient id="paint0_linear_39_276" x1="175.808" y1="0" x2="175.808" y2="310.893" gradientUnits="userSpaceOnUse">
    <stop offset="0.19" stop-color="#5CC1EC" stop-opacity="0.92"/>
    <stop offset="1" stop-color="#044EDF"/>
    </linearGradient>
    </defs>
</svg>
<section class="container mx-auto flex flex-col gap-3 mt-6 sm:mt-20 min-h-full relative justify-center text-center sm:text-start sm:justify-start">
    <svg class="field-icon z-0 absolute top-50 sm:top-0 opacity-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256v32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32v80 32c0 17.7 14.3 32 32 32s32-14.3 32-32V256c0-106-86-192-192-192zm64 192a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/>
    </svg>
    <h1 class="z-10 md:text-4xl font-extrabold md:mb-3">Forgot Password?</h1>
    <form class="flex flex-col gap-3 md:gap-6 md:text-lg" method="POST">
        {% csrf_token %}
        <div class="form-fields z-10">
                <input type="text" class="z-10" name="email" placeholder="Email" autocapitalize="none" autocomplete="email" maxlength="254" required id="id_email">
        </div>
        <div class="login-button z-10">
            <button type="submit" class="inline-flex justify-center items-center py-3 px-5 text-base text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 uppercase font-semibold sm:font-medium sm:normal-case dark">Reset Password
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180 dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" class="dark"></path>
                </svg>
            </button>
        </div>
        
        {% if form.non_field_errors %}
            <div class="form-error">
                {{form.non_field_errors}}
            </div>
        {% endif %}

    </form>
    <p class="z-10">Remember password? <a class="font-semibold text-blue-500 hover:text-green-500" href="{% url 'login_register' %}">Login</a>.</p>
</section> 
{% endblock %}
</body>
</html>