{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>

{% block content %}


<div class="log-in-container">
    <div class="col col-1">
        <svg class="bg-bulb absolute top-30 left-0 bg-opacity-0 opacity-25 overflow-x-hidden blur-2xl z-0 max-h-[100vh]" width="652" height="611" viewBox="0 0 352 311" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M153.766 8.93022C253.205 -37.7537 218.766 113.43 310.142 120.93C401.519 128.43 323.268 300.695 254.017 290.312C184.766 279.93 174.766 341.43 72.3913 290.312C-29.9834 239.195 1.76592 205.93 16.2659 120.93C30.7659 35.9303 54.3281 55.6142 153.766 8.93022Z" fill="url(#paint0_linear_39_276)" fill-opacity="0.95"/>
            <defs>
            <linearGradient id="paint0_linear_39_276" x1="175.808" y1="0" x2="175.808" y2="310.893" gradientUnits="userSpaceOnUse">
            <stop offset="0.19" stop-color="#5CC1EC" stop-opacity="0.92"/>
            <stop offset="1" stop-color="#044EDF"/>
            </linearGradient>
            </defs>
            </svg>
   <img src="{% static 'images/maple-logger1.png'%}" alt="login" class="maple-logger-img w-1/3">
    </div>
    <div class="col col-2">
        <svg class="bg-bulb absolute top-0 left-0 bg-opacity-0 opacity-25 overflow-x-hidden blur-2xl z-0 max-h-[100vh]" width="652" height="611" viewBox="0 0 352 311" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M153.766 8.93022C253.205 -37.7537 218.766 113.43 310.142 120.93C401.519 128.43 323.268 300.695 254.017 290.312C184.766 279.93 174.766 341.43 72.3913 290.312C-29.9834 239.195 1.76592 205.93 16.2659 120.93C30.7659 35.9303 54.3281 55.6142 153.766 8.93022Z" fill="url(#paint0_linear_39_276)" fill-opacity="0.95"/>
            <defs>
            <linearGradient id="paint0_linear_39_276" x1="175.808" y1="0" x2="175.808" y2="310.893" gradientUnits="userSpaceOnUse">
            <stop offset="0.19" stop-color="#5CC1EC" stop-opacity="0.92"/>
            <stop offset="1" stop-color="#044EDF"/>
            </linearGradient>
            </defs>
            </svg>
        <div class="btn-box">
            <button class="btn-form btn-login-form" id="btn-login-form-toggle">Login</button>
            <button class="btn-form btn-register-form" id="btn-register-form-toggle">Register</button>
        </div>
        <div class="login-form">
            <h3 class="login-form-title">Sign in to access your <span class="font-extrabold text-blue-400">surveys</span></h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ user_login_form.non_field_errors }}
                    <!-- Email Field with User Icon -->
            <div class="login-form-inputs">
                
                <div class="input-icon-container">
                    <img src="{% static 'images/user.png'%}" class="icon">
                    {{ user_login_form.email }}
                    {{ user_login_form.email.errors }}
                </div>

                <!-- Password Field with Lock Icon -->
                <div class="input-icon-container">
                    <img src="{% static 'images/lock.png'%}" class="icon"/>
                    {{ user_login_form.password }}
                    {{ user_login_form.password.errors }}
                </div>
                        
                <div class="forgot-password">
                            <a href="">Forgot the Password?</a>
                        
                </div>

                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 my-[10px] ">
                            <button type="submit" class="inline-flex justify-center items-center py-6 px-6 w-full text-base font-semibold text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 ">Login 
                                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </button>
                </div>
            </div>
                </form>
            </div> 
            {% include 'users/register.html' %}

        </div>

    </div>

</div>

    
    <!-- Logout button -->
    {% comment %} <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="actButton my-3 w-full xsdd:max-w-xs" type="submit">Logout</button>
    </form> {% endcomment %}
    
    {% block js %}
    <script>
        const btnLogin = document.getElementById('btn-login-form-toggle');
        const btnRegister = document.getElementById('btn-register-form-toggle');
        const loginForm = document.querySelector('.login-form');
        const registerForm = document.querySelector('.register-form');

        btnLogin.addEventListener('click', () => {
            loginForm.style.display = 'block';
            registerForm.style.display = 'none';
        });

        btnRegister.addEventListener('click', () => {
            loginForm.style.display = 'none';
            registerForm.style.display = 'block';
        });
    </script>
{% endblock %}
{% endblock %}
</body>
</html>