{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="log-in-container">
    <div class="col col-1">
        <svg class="bg-bulb absolute top-30 left-0 bg-opacity-0 opacity-25 overflow-x-hidden blur-2xl max-h-[100vh]" width="652" height="611" viewBox="0 0 352 311" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M153.766 8.93022C253.205 -37.7537 218.766 113.43 310.142 120.93C401.519 128.43 323.268 300.695 254.017 290.312C184.766 279.93 174.766 341.43 72.3913 290.312C-29.9834 239.195 1.76592 205.93 16.2659 120.93C30.7659 35.9303 54.3281 55.6142 153.766 8.93022Z" fill="url(#paint0_linear_39_276)" fill-opacity="0.95"/>
            <defs>
            <linearGradient id="paint0_linear_39_276" x1="175.808" y1="0" x2="175.808" y2="310.893" gradientUnits="userSpaceOnUse">
            <stop offset="0.19" stop-color="#5CC1EC" stop-opacity="0.92"/>
            <stop offset="1" stop-color="#044EDF"/>
            </linearGradient>
            </defs>
            </svg>
   <img src="{% static 'images/maple-logger1.png'%}" alt="login" class="maple-logger-img w-[40%]">
   <svg class="bg-bulb absolute top-20 left-200 bg-opacity-0 opacity-25 overflow-x-hidden blur-3xl z-0 max-h-[100vh]" width="652" height="611" viewBox="0 0 352 311" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M153.766 8.93022C253.205 -37.7537 218.766 113.43 310.142 120.93C401.519 128.43 323.268 300.695 254.017 290.312C184.766 279.93 174.766 341.43 72.3913 290.312C-29.9834 239.195 1.76592 205.93 16.2659 120.93C30.7659 35.9303 54.3281 55.6142 153.766 8.93022Z" fill="url(#paint0_linear_39_276)" fill-opacity="0.95"/>
    <defs>
    <linearGradient id="paint0_linear_39_276" x1="175.808" y1="0" x2="175.808" y2="310.893" gradientUnits="userSpaceOnUse">
    <stop offset="0.19" stop-color="#5CC1EC" stop-opacity="0.92"/>
    <stop offset="1" stop-color="#044EDF"/>
    </linearGradient>
    </defs>
    </svg>
    </div>
    <div class="col col-2">
       
        <div class="btn-box">
            <button class="btn-form btn-login-form" id="btn-login-form-toggle">Login</button>
            <button class="btn-form btn-register-form" id="btn-register-form-toggle">Register</button>
        </div>
       <!-- Login form -->
    <div class="login-form {% if not register_active %}active{% endif %}">
        <h3 class="login-form-title">Sign in to access your <span class="font-extrabold text-blue-400">surveys</span></h3>
        <form method="POST">
            {% csrf_token %}
            
            <!-- Display non-field errors here -->
            {% if user_login_form.non_field_errors %}
                <div class="error-message">
                    {% for error in user_login_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            
            <!-- Email Field with User Icon -->
             
            <div>
            <div class="input-icon-container">
                <img src="{% static 'images/user.png' %}" class="icon">
                {{ user_login_form.email }}
            </div>
                <!-- Display field-specific error -->
                {% if user_login_form.email.errors %}
                    <div class="error-message">
                        {% for error in user_login_form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <!-- Password Field with Lock Icon -->
            <div>
            <div class="input-icon-container">
                <img src="{% static 'images/lock.png' %}" class="icon"/>
                {{ user_login_form.password }}
            </div>
                <!-- Display field-specific error -->
                {% if user_login_form.password.errors %}
                    <div class="error-message">
                        {% for error in user_login_form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 my-[10px] ">
                            <button type="submit" name="login" class="inline-flex justify-center items-center py-6 px-6 w-full text-base font-semibold text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 ">Login 
                                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </button>
                </div>
            </div>
        </form>

            <!-- register form -->
           
    <div class="register-form {% if register_active %}active{% endif %}">
        <h3 class="register-form-title">Create new <span class="font-extrabold text-blue-400">account</span></h3>
        <form method="POST">
            {% csrf_token %}
            {{ user_register_form.non_field_errors }}
            <div class="register-form-inputs">
                <!-- Email Field with User Icon -->
                <div>
                    <div class="input-icon-container">
                    <img src="{% static 'images/user.png' %}" class="icon">
                    {{ user_register_form.email }}
                    </div>
                    {{ user_register_form.email.errors }}
                </div>
    
                <!-- Name Field with User Icon -->
                <div>
                <div class="input-icon-container">
                    <img src="{% static 'images/user.png' %}" class="icon">
                    {{ user_register_form.name }}
                </div>
                    {{ user_register_form.name.errors }}
                
                </div>
                <!-- Surname Field with User Icon -->
                <div class="input-icon-container">
                    <img src="{% static 'images/user.png' %}" class="icon">
                    {{ user_register_form.surname }}
                    {{ user_register_form.surname.errors }}
                </div>
    
                <!-- Password1 Field with Lock Icon -->
                <div>
                <div class="input-icon-container">
                    <img src="{% static 'images/lock.png' %}" class="icon"/>
                    {{ user_register_form.password1 }} 
                </div>
                    {{ user_register_form.password1.errors }}
               </div>
    
                <!-- Password2 Field with Lock Icon -->
                <div>
                <div class="input-icon-container">
                    <img src="{% static 'images/lock.png' %}" class="icon"/>
                    {{ user_register_form.password2 }}
                </div>
                    {{ user_register_form.password2.errors }}
                </div>

                <!-- License Agreement Field -->
                 <div>
                <div class="input-icon-container register-form-terms">
                        {{ user_register_form.agree_to_terms }}
                        <p class="register-form-terms-conditions">I agree to the <a href="#" class="text-blue-400">Terms and Conditions</a></p>
                </div>
                    {% if user_register_form.agree_to_terms.errors %}
                        <div>
                            {{ user_register_form.agree_to_terms.errors }}
                        </div>
                    {% endif %}
                </div> 
    
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 my-[10px] ">
                    <button type="submit" name="register" class="btn-register inline-flex justify-center items-center py-6 px-6 w-full text-base font-semibold text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 ">Register 
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>


    </div>
</div>


{% block js %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const btnLogin = document.getElementById('btn-login-form-toggle');
        const btnRegister = document.getElementById('btn-register-form-toggle');
        const loginForm = document.querySelector('.login-form');
        const registerForm = document.querySelector('.register-form');
    
        // Use the register_active context variable to control form visibility
        const registerActive = "{{ register_active|yesno:'true,false' }}";
        console.log(registerActive);

        const isRegisterActive = (registerActive === 'true');
    
        // Initialize form visibility based on the context variable
        if (isRegisterActive) {
            loginForm.classList.remove('active');
            registerForm.classList.add('active');
        } else {
            loginForm.classList.add('active');
            registerForm.classList.remove('active');
        }
        
        btnLogin.addEventListener('click', function(event) {
            event.preventDefault();
            loginForm.classList.add('active');
            registerForm.classList.remove('active');
        });
    
        btnRegister.addEventListener('click', function(event) {
            event.preventDefault();
            loginForm.classList.remove('active');
            registerForm.classList.add('active');
        });
    });
    </script>

    
{% endblock %}
{% endblock %}