
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>

{% block content %}
{% load static %}
<section class="log-in-wrapper container mx-auto">
    <p>Please enter your login to access your surveys</p>
    <form class="login-form flex-col justify-center items-center bg-green-400" method="POST">
        {% csrf_token %}
        {{ user_login_form.as_p }}
        <button class="actButton my-3 w-full xsdd:max-w-xs" type="submit">Login</button>
    </form>
     <!-- Forgot password -->
     <a class="forgot-password-link">Forgot the Password?</a>
    </div> 
    
    <!-- Logout button -->
    {% comment %} <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="actButton my-3 w-full xsdd:max-w-xs" type="submit">Logout</button>
    </form> {% endcomment %}
{% endblock %}
</body>
</html>